@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.projectCard {
  display: flex;
  flex-direction: column;
}
.cardTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 140%;
  color: #ffffff;
}
.contentWrapper {
  display: flex;
  align-items: center;
}
.projectCardImg {
  overflow: hidden;
  border-radius: 12px;
}

.futuresList ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #ffffff;

  list-style-image: url("/fuIcon.svg");
}

.cardDescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  width: 452px;
  height: 75px;

  color: rgba(255, 255, 255, 0.56);
}
