@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.projectCard {
  display: flex;
  flex-direction: column;

}
.cardTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 140%;
  color: #ffffff;
  line-height: 180%;
}
.contentWrapper {
  display: flex;
  align-items: center;
}
.projectCardImg {
  overflow: hidden;
  border-radius: 12px;
}

.futuresList ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
<<<<<<< HEAD
  font-size: 0.9rem;
=======
  font-size: 0.95rem;
>>>>>>> e3a623644fc893fac54ad79ef7ad96b6356c8001
  line-height: 180%;
  color: #ffffff;
  list-style-image: url("/fuIcon.svg");
  list-style-position: outside;
}
.projectCardImg{
  cursor: pointer;
}


.cardDescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
<<<<<<< HEAD
  font-size: 0.9rem;
=======
  font-size: 0.96rem;
>>>>>>> e3a623644fc893fac54ad79ef7ad96b6356c8001
  line-height: 180%;


  color: rgba(255, 255, 255, 0.56);
}
