@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.SomeProjectsCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SomeProjects{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.someProjectsWrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
}

.firstSection {
  display: flex;
  align-items: center;
}

.projectsDescription {
  width: 648px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.56);

}

.mainTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;

  color: #ffffff;
}

.secondeTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.99rem;
  line-height: 140%;
  color: #6068db;
}
