@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.SomeProjectsCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstSection {
  display: flex;
  align-items: center;
}

.projectsDescription {
  width: 648px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.56);
}

.mainTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 140%;

  color: #ffffff;
}

.secondeTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 140%;
  color: #6068db;
}
