@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.Skills {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.minTitle {
  width: 100%;
  text-align: left;
  
  color: #6068db;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 170%;
}

.mainTitle {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  color: #ffffff;
}

.SkillsCards {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}
