.Skills {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minTitle {
  width: 100%;
  text-align: left;

  color: #6068db;
  font-weight: 600;
  text-transform: uppercase;

  font-size: 0.9rem;
  line-height: 1em;

  font-size: 0.86rem;
  line-height: 170%;
}

.mainTitle {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
  color: #ffffff;
}

.SkillsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5em;
}
