@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.Hero {
  font-family: Poppins;
  font-style: normal;
  
}

.mainTitle{
    font-weight: bold;
    font-size: 20px;
    width: 500px;
    height: 112px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;

}

.subTitle{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.56);
    width: 456px;
    height: 112px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}