@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.Hero {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin: 9vh 0;
}
.heroWrapper{
  width: 85vw;
}
.mainTitle{
    font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 20px;
    color: #FFFFFF;

}

.subTitle{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.56);
    width: 60vh;
    height: 112px;
}

.HeroBtn{
}