@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.About {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  width: 100%;
}
.AboutWrapper{
  width: 85vw;
  
}

.miniTtitle {
  
  text-align: left;
  width: 100%;
  font-weight: 600;
  font-size: 0.86rem;
  color: #6068db;
  text-transform: uppercase;
}
.bigTitle {
  color: #FFFFFF;

  text-align: left;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
}

.aboutMeText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.p1 {
  width: 40vw;
  text-align: left;
  color: rgba(255, 255, 255, 0.72);
  font-size: 1rem;
  line-height: 180%;
}
.p2 {
  width: 40vw;
  text-align: left;
  color: rgba(255, 255, 255, 0.72);
  font-size: 1rem;
  line-height: 180%;
}

.contactMeBtn {
  width: 100%;

}
