  
.About {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniTtitle {
  text-align: left;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  font-size: 0.86rem;
  color: #6068db;
  text-transform: uppercase;
}
.bigTitle {
  color: #FFFFFF;
  text-align: left;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
}

.aboutMeText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.aboutMeText p:first-child {
  padding-right: 1em;

}

.p1 {

  text-align: left;
  color: rgba(255, 255, 255, 0.72);
  font-size: 0.95rem;
  font-size: 1rem;
  line-height: 180%;
}
.p2 {

  text-align: left;
  color: rgba(255, 255, 255, 0.72);
  font-size: 0.95rem;
  font-size: 1rem;
  line-height: 180%;
}

.contactMeBtn {
  width: 100%;  
}
