  
.MainSkillset {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 21vh 0vw 25vh 1vw;

  } 

.MainSkillsetCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  color: #ffffff;
  font-weight: bold;
 
  font-size: 1.1rem;
  line-height: 140%;
  
  font-size: 1rem;
  line-height: 180%;

}
.mainTitle h2 {
  margin: 0;

  
}

.mainTitle h2{
  margin: 0;

}

.subTitle {
  color: rgba(255, 255, 255, 0.56);
  font-weight: 600;
 
  font-size: 0.9rem;
  
  margin: 4vh 0;
  
  font-size: 0.80rem;
  line-height: 190%;
  
}
