@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.SkillCard{
    display: flex;
    width: 30vw;
    height: 12vw;
}
.SkillCardContentWrapper{

}
.cardImage{
    width: 12vw;
    height: 24px;
}

.cardTitle{
    color: #FFF;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 140%;
}

.cardText{
    font-size: 0.8rem;
    line-height: 180%;
 
color: rgba(255, 255, 255, 0.56);
}