/* 
Costum css

====================================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.container {
  padding: 0 2rem;
}



/* set bg color */
html {
  background-color: #121127;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", sans-serif;
}

/* Coustom webkit scrool bar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
